* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #edf0f1; 
    background-color: rgb(10, 97, 112);
       
}

main, footer {
    margin: 0px 30px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    background-color: #24252a;       
}

h2, h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #edf0f1;
          
}

li a {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #24252a;
}

.nav__links {
    list-style: none;
    background-color: #24252a;    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #24252a;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #24252a;    
}

.nav__links li a:hover {
    color: rgb(10, 97, 112);   
}

.box1 p {
    border: 2px solid  #24252a;
    background-color: #24252a;
    box-shadow: 5px 10px 5px black;
    font-size: 1.3em;     
}

.project-box {
    display: flex;
    justify-content: flex-start;
}

.box2 p {
    display: block;
    font-weight: 400;
    font-size: 20px;
    background-color: #24252a;
    box-shadow: 5px 10px 5px black;
    padding: 75px 100px; 
    margin: 10px;   
}

.box2 p a {
    transition: all 0.3s ease 0s;
    background-color: #24252a;
    text-decoration: none;    
}

.box2 p a:hover {
    color: rgb(10, 97, 112);   
}


section {
    margin: 0px 0pc 30px ;
}

span {
    background-color: #24252a;
    font-weight: 500;
}

.contact-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #24252a;    
}

.contact-me li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #24252a;
}

.contact-me li a {
    transition: all 0.3s ease 0s;
    background-color: #24252a;    
}

.contact-me li a:hover {
    color: rgb(10, 97, 112);   
}

#coming_soon {
    width: 500px;
    height: auto;
}