@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(10, 97, 112);    
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #edf0f1;
    background-color: #24252a;       
}

li a {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #24252a;
}

.nav__links {
    list-style: none;
    background-color: #24252a;    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #24252a;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #24252a;    
}

.nav__links li a:hover {
    color: rgb(10, 97, 112);   
}